
  @font-face {
    font-family: aurella;
    src: url("Aurella.ttf");
  }


.BUTTERTitle {
    box-sizing: border-box;
    width: 100%;
    justify-content: center;
    align-items: baseline;
    padding: 1em;
    margin-bottom: 2em;
    background-color: rgb(0, 0, 0);
    color: #fff;
  }

  .BUTTERLogo-image {
    width: 20px;
    height: 20px;
  }

 .banner {
    padding-bottom: 0;
    margin: 0;
    font-family: Aurella !important;
    font-size: 70px;
  }

  .Title-Subtitle {
    padding-top: 0;
    color: rgba(255, 255, 255, 0.75);
  }

  .BUTTERTitle a {
    display: inline-block;
    padding: 0.5em 1em;
    color: rgba(255, 255, 255, 0.835);
    font-weight: bold;
    text-decoration: none;
  }

  .BUTTERTitle .nav-link-active {
    color: #fff;
    border-bottom: 2px solid;
  }